.square {
    width: 100px;
    height: 100px;
}
.square-black {
    background-color: grey;
}

.square-white {
    background-color: orange;
}

.piece {
    width: 40px;
    height: auto;
    margin: auto;
    margin-top: 40px;
}